{% extends 'base.html.twig' %}

{% block title %}PubLikeTracks index{% endblock %}

{% block body %}
    <h1>PubLikeTracks index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_user</th>
                <th>Id_pub</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pub_like_track in pub_like_tracks %}
            <tr>
                <td>{{ pub_like_track.id }}</td>
                <td>{{ pub_like_track.idUser }}</td>
                <td>{{ pub_like_track.idPub }}</td>
                <td>
                    <a href="{{ path('pub_like_tracks_show', {'id': pub_like_track.id}) }}">show</a>
                    <a href="{{ path('pub_like_tracks_edit', {'id': pub_like_track.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pub_like_tracks_new') }}">Create new</a>
{% endblock %}
