{{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
{{ form_widget(form) }}
<br><br>
<button class="btn custom-btn">{{ button_label|default('Add') }}</button>
<a class="btn custom-btn" href="{{ path('reclamation_index') }}">Reclamations' List</a>
{{ form_end(form) }}
