{% extends 'basefront.html.twig' %}
{% set user = app.session.get('id_user') %}
{% set type = app.session.get('type') %}
{% set username = app.session.get('user') %}
{% block title %}
    <title>Reclamation</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">
{% endblock %}
{% block contact %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <br>
    <center>
    <p>
    <button onclick="sortTable()" class="btn btn-outline-info fas fa-paper-plane"> Réclamations Récentes</button></p>
    </center>

        <table class="table" id="myT">
        <thead>
            <tr>
                {# <th>IdRec</th>#}
                <th>User</th>
                <th>Objet</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Catégories</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if reclamations %}
            {% for reclamation in reclamations %}
                <tr>
                    {#<td>{{ reclamation.idRec }}</td>#}
                    <td>{{ reclamation.username }}</td>
                    <td>{{ reclamation.objRec }}</td>
                    <td>{{ reclamation.sujRec }}</td>
                    <td>{{ reclamation.etatRec }}</td>
                    <td>{{ reclamation.idCat }}</td>
                    <td>{{ reclamation.dateRec ? reclamation.dateRec|date('d-m-Y H:i:s') : '' }}</td>
                    <td>
                        <div class="carousel-btn">
                            <a class="btn btn-outline-danger fas fa-star" href="{{ path('reclamation_show', {'idRec': reclamation.idRec}) }}"> Afficher</a>
                            <a class="btn btn-outline-success fas fa-edit" href="{{ path('reclamation_edit', {'idRec': reclamation.idRec}) }}"> Modifier</a>
                        </div>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun Enregistrement Trouvé</td>
                </tr>
            {% endfor %}
        {% endif %}
        <script>
            function sortTable() {
                var table, rows, switching, i, x, y, shouldSwitch,dir;
                table = document.getElementById("myT");
                switching = true;
                // Set the sorting direction to ascending:


                while (switching) {

                    switching = false;
                    rows = table.rows;

                    for (i = 1; i < (rows.length - 1); i++) {

                        shouldSwitch = false;

                        x = rows[i].getElementsByTagName("TD")[4];
                        y = rows[i + 1].getElementsByTagName("TD")[4];



                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {

                            shouldSwitch = true;
                            break;
                        } }

                    if (shouldSwitch) {

                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }


                }
            }
        </script>
        </tbody>
    </table>
    <ul class="pages">
        {{ knp_pagination_render(reclamations) }}
    </ul>
{% endblock %}
