{% extends 'basefront.html.twig' %}
{% set user = app.session.get('id_user') %}
{% set type = app.session.get('type') %}
{% set username = app.session.get('user') %}
{% block title %}
    <title>Reclamation</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">
{% endblock %}
{% block contact %}
<div class="section-header text-center">
    <h2 class="bg-light py-4 text-info"> Votre Réclamation Sélectionnée</h2>
</div>
    <table class="table">
        <tbody>
        {#   <tr>
               <th>IdRec</th>
                <td>{{ reclamation.idRec }}</td>
            </tr> #}
            <tr>
                <th>User</th>
                <td>{{ reclamation.username }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ reclamation.objRec }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.sujRec }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ reclamation.etatRec }}</td>
            </tr>
        <tr>
            <th>Catégories</th>
            <td>{{ reclamation.idCat }}</td>
        </tr>
            <tr>
                <th>Date</th>
                <td>{{ reclamation.dateRec ? reclamation.dateRec|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
<center>
    <a class="btn btn-outline-success fas fa-reply-all" href="{{ path('reclamation_index') }}"> Liste Des Réclamations</a>
    <br>
    <br>
    {% if username ==  reclamation.username  %}
    <a class="btn btn-outline-warning fas fa-edit" href="{{ path('reclamation_edit', {'idRec': reclamation.idRec}) }}"> Modifier</a>
    {{ include('Front/reclamation/_delete_form.html.twig') }}
    {% endif %}
</center>
{% endblock %}
