{% extends 'Front.html.twig' %}

{% block Evenement %}
    <h1>Invitation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>

                <th>User</th>
                <th>event</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invitation in invitations %}
            <tr>
                <td>{{ invitation.id }}</td>
                <td>{{ invitation.idUser.username }}</td>
                <td>{{ invitation.idEv.titreEv}}</td>
                <td>
                    {{ include('/invitation/_delete_form.html.twig') }}
{#                    <a href="{{ path('invitation_delete', {'id': invitation.id}) }}">delete</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success " href="{{ path('invitation_new') }}"><i class="fas fa-plus-square "></i>Envoyer une invitation</a>

{% endblock %}
