{{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
{{ form_widget(form) }}
<center>
    <br><br>
    <button class="btn btn-instagram"> <i class="fa fa-upload"></i> {{ button_label|default(' Ajouter') }} </button>
    <br>
    <br>
    <a class="btn btn-yahoo" href="{{ path('reclamation_indexx') }}"> <i class="fa fa-reply"></i> Liste Des Réclamations</a>
</center>
{{ form_end(form) }}
