{{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
{{ form_widget(form) }}
<br><br>
<button class="btn btn-success">{{ button_label|default('Add') }}</button>
<a class="btn btn-adn" href="{{ path('reclamation_indexx') }}">Reclamations' List</a>
{{ form_end(form) }}
