{% extends 'baseback.html.twig' %}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spirity | Reclamation</title>
{% endblock %}

{% block b %}
<div class="box box-info" style="align-items: center; padding-left: 400px ">
    <div class="box-header">
        {# <i class="fa fa-envelope"></i> #}
        <h3 class="bg-light py-4 text-info">Les Réclamations</h3>
    </div>
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="box-body">
        <form method="post" >
            <input type="text" class="form-control" name="AfficherClasse" onkeyup="myFunction()" placeholder="Search here..." id="myInput" style="width:500px;display: inline-block;margin-left: 170px">
            <label for="myInput" class="fa fa-search" style="display:inline-block">
            </label>
            <br>
        </form >
        <form action="#" method="post">
            <div class="form-group">
                <br>
                <table class="table" id="mytable">
                    <thead>
            <tr>
                {# <th>IdRec</th>#}
                <th>User</th>
                <th>Objet</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Catégories</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamation %}
            <tr>
                {#<td>{{ reclamation.idRec }}</td>#}
                <td>{{ reclamation.username }}</td>
                <td>{{ reclamation.objRec }}</td>
                <td>{{ reclamation.sujRec }}</td>
                <td>{{ reclamation.etatRec }}</td>
                <td>{{ reclamation.idCat }}</td>
                <td>{{ reclamation.dateRec ? reclamation.dateRec|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                        <a class="btn btn-warning" href="{{ path('reclamation_showw', {'idRec': reclamation.idRec}) }}"><i class="fa fa-star"></i> Afficher</a>
                        <a class="btn btn-success" href="{{ path('reclamation_editt', {'idRec': reclamation.idRec}) }}"><i class="fa fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun Enregistrement Trouvé</td>
            </tr>
        {% endfor %}
        <script>
            function myFunction() {
                var input, filter, table, tr, td, i,j, txtValue,td1 ,td2, txtValue1, txtValue2 ;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("mytable");
                tr = table.getElementsByTagName("tr");
//   alert(td.length);
                for (i = 0; i < tr.length; i++) {
                    td= tr[i].getElementsByTagName("td")[1];
                    td1= tr[i].getElementsByTagName("td")[2];
                    td2= tr[i].getElementsByTagName("td")[4];

                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        txtValue1 = td1.textContent || td1.innerText;
                        txtValue2 = td2.textContent || td2.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else if  (txtValue1.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";  }
                        else if  (txtValue2.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }


        </script>
        </tbody>
    </table>
                <a class="btn btn-info"  href="{{path('imprimer') }}"> <i class="fa fa-print"></i> Imprimer</a>
                <a class="btn btn-pinterest"  href="{{path('statistique') }}"> <i class="fa fa-quote-right"></i> Stats</a>
                <ul class="pages" >
                    {{ knp_pagination_render(reclamation) }}
                </ul>
            </div>
        </form>
    </div>
</div>
{% endblock %}
