<!DOCTYPE html>
{% block param %}
    <h1 align ="center">Reclamations</h1><hr>
       <style>
            tr:nth-child(even) {
            background-color: #f2f2f2;
            }
       </style>

                <table class="table" border=" 1px solid" align="center" border-collapse="collapse" border-spacing="0" width="100%" >
                    <thead>
                    <tr>
                        {# <th>IdRec</th>#}
                        <th style="background-color: #f2f2f2">User</th>
                        <th style="background-color: #f2f2f2">Objet</th>
                        <th style="background-color: #f2f2f2">Description</th>
                        <th style="background-color: #f2f2f2">Etat</th>
                        <th style="background-color: #f2f2f2">Catégories</th>
                        <th style="background-color: #f2f2f2">Date</th>
                        {#<th>Actions</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for reclamation in reclamations %}
                        <tr>
                            {#<td>{{ reclamation.idRec }}</td>#}
                            <td>{{ reclamation.username }}</td>
                            <td>{{ reclamation.objRec }}</td>
                            <td>{{ reclamation.sujRec }}</td>
                            <td>{{ reclamation.etatRec }}</td>
                            <td>{{ reclamation.idCat }}</td>
                            <td>{{ reclamation.dateRec ? reclamation.dateRec|date('d-m-Y H:i:s') : '' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
{% endblock %}
