{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
        {{ form_widget(form.username) }}
        <div class="text-xs font-weight-bold text-warning text-uppercase mb-2">
            {{ form_errors(form.username) }}
        </div>
        {{ form_widget(form.difficulteTache) }}
        <div class="text-xs font-weight-bold text-warning text-uppercase mb-2">
            {{ form_errors(form.difficulteTache) }}
        </div>

        {{ form_widget(form.descriptionTache) }}
        <div class="text-xs font-weight-bold text-warning text-uppercase mb-2">
            {{ form_errors(form.descriptionTache) }}
        </div>
<div style="text-align: center;">
    <br>
    <button class="btn btn-primary mt-4 pr-4 pl-4">{{ button_label|default('Enregistrer') }}</button>
</div>

<br>
{{ form_end(form) }}


