{% extends 'backend/taches.html.twig' %}
{% block param %}
    {% if clients is defined %}
        <div class="clients">
            {% for client in clients %}
                <a class="client_link" href="{{ path('suivi_liste', {'NomClient': client.client}) }}">
                    <img class="avatar user-thumb" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" alt="avatar">
                    <p>{{ client.client }}</p>
                </a>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(clients) }}
            </div>
        </div>
     {% else %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Client</th>
                        <th>Titre</th>
                        <th>Date Debut</th>
                        <th>Date Fin</th>
                        <th>Temps Debut</th>
                        <th>Temps Fin</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for suivi in suivis %}
                        <tr>
                            <td>{{ suivi.client }}</td>
                            <td>{{ suivi.titreS }}</td>
                            <td>{{ suivi.dateDs ? suivi.dateDs|date('Y-m-d') : '' }}</td>
                            <td>{{ suivi.dateFs ? suivi.dateFs|date('Y-m-d') : '' }}</td>
                            <td>{{ suivi.tempsDs ? suivi.tempsDs|date('H:i:s') : '' }}</td>
                            <td>{{ suivi.tempsFs ? suivi.tempsFs|date('H:i:s') : '' }}</td>
                            <td>
                                <a class="bozilla" href="{{ path('tache_index', {'idS': suivi.idS}) }}">Consulter</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Pas encore d'articles </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    {% endif %}
{% endblock %}
