{% extends 'backend2/page.html.twig' %}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spirity | Categories</title>
{% endblock %}

{% block param %}

    <div class="box box-info" style="align-items: center; padding-left: 400px ">
    <div class="box-header">
        {# <i class="fa fa-envelope"></i> #}
        <h3 class="bg-light py-4 text-info">Les Catégories</h3>
        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <br>
        <center>
            <a class="btn btn-success" href="{{ path('categories_newC') }}"> <i class="fa fa-plus-circle"></i> Ajouter</a>
        </center>
    </div>
    <div class="box-body">
    <form action="#" method="post">
    <div class="form-group">
    <table class="table">
        <thead>
            <tr>
                {# <th>Category</th> #}
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                {# <td>{{ category.idCat }}</td> #}
                <td>{{ category.nomCat }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('categories_showw', {'idCat': category.idCat}) }}"><i class="fa fa-star"></i> Afficher</a>
                    <a class="btn btn-instagram" href="{{ path('categories_editt', {'idCat': category.idCat}) }}"><i class="fa fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun Enregistrement Trouvé</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
        <ul class="pages">
            {{ knp_pagination_render(categories) }}
        </ul>

    </div>
    </form>
    </div>
    </div>
{% endblock %}