{% extends 'backend2/page.html.twig' %}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spirity | Categories</title>
{% endblock %}
{% block param %}
    <h1>Categories</h1>
<div class="box box-info" style="align-items: center; padding-left: 400px ">
    <div class="box-header">
        {# <i class="fa fa-envelope"></i> #}
        <h3 class="box-title">Categorie</h3>
    </div>
    <div class="box-body">
        <form action="#" method="post">
            <div class="form-group">
    <table class="table">
        <thead>
        <tbody>
            {# <tr>
                <th>IdCat</th>
                <td>{{ categories.idCat }}</td>
            </tr> #}
            <tr>
                <th>Nom</th>
                <td>{{ categories.nomCat }}</td>
            </tr>
        </tbody>
    </table>
                <center>
                    <br>
    <a class="btn btn-success" href="{{ path('categories_indexx') }}"><i class="fa fa-reply"></i> Liste Des Catégories</a>
<br>
                    <br>
    <a class="btn btn-soundcloud" href="{{ path('categories_editt', {'idCat': categories.idCat}) }}"><i class="fa fa-edit"></i> Modifier</a>
<br>
                    <br>
    {{ include('Back/categories/_delete_form.html.twig') }}
                </center>
            </div>
        </form>
    </div>
</div>
{% endblock %}
