{% extends 'Front.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block Evenement %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
<div class="blog">
    <div class="container">
        <div class="section-header text-center">

            <h2>Liste des évènements</h2>
        </div>


        <div class="row">
            {% for evenement in evenements %}
                <div class="col-md-6">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="../upload/{{ evenement.image }}" alt="Blog">
                        </div>
                        <div class="blog-content">
                            <h1 style="color: darkgreen;">Nom: {{ evenement.titreEv }}</h1>
                            <h3 style="color: orange;">Type: {{ evenement.typeEv }}</h3>

                            <div class="blog-text">
                                <p>Emplacement: {{ evenement.emplacementEv }}</p>
                                <p>Date de Début: {{ evenement.dateDev ? evenement.dateDev|date('Y-m-d') : '' }}</p>
                                <p>Date de Fin: {{ evenement.dateFev ? evenement.dateFev|date('Y-m-d') : '' }}</p>
                                <p>Temps de Debut: {{ evenement.tempsDev ? evenement.tempsDev|date('H:i:s') : '' }}</p>

                                <p>Temps de final: {{ evenement.tempsFev ? evenement.tempsFev|date('H:i:s') : '' }}</p>
                                <p>Age Min: {{ evenement.ageMin }}</p>
                                <p>Age Max: {{ evenement.ageMax }}</p>
                            </div>
                            <div>
                                    <span>
                                        <a href="{{ path('evenement_show', {'idEv': evenement.idEv}) }}"class="btn btn-outline-info fas fa-star">Afficher</a>

                                        <a href="{{ path('evenement_edit', {'idEv': evenement.idEv}) }}"class="btn btn-outline-success fas fa-edit">Modifier</a>

                                        {{ include('evenement/_delete_form.html.twig') }}
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
            <ul class="pages">
                {{ knp_pagination_render(evenements) }}
            </ul>
            <script>
                function sortTable() {
                    var table, rows, switching, i, x, y, shouldSwitch,dir;
                    table = document.getElementById("myT");
                    switching = true;
                    // Set the sorting direction to ascending:


                    while (switching) {

                        switching = false;
                        rows = table.rows;

                        for (i = 1; i < (rows.length - 1); i++) {

                            shouldSwitch = false;

                            x = rows[i].getElementsByTagName("TD")[4];
                            y = rows[i + 1].getElementsByTagName("TD")[4];



                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {

                                shouldSwitch = true;
                                break;
                            } }

                        if (shouldSwitch) {

                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }


                    }
                }
            </script>


        </div>
    </div>



    <br>

    <a class="btn btn-outline-success " href="{{ path('evenement_new') }}"><i class="fas fa-plus-square "></i>Ajouter un evenement</a>

</div>

{% endblock %}
