{% extends 'backend2/page.html.twig' %}
{% block param %}
    <h1>Evenement index</h1>
    <center>
        <p><a class="btn btn-outline-primary" onclick="sortTable()" > Trier Par Date</a></p>
    </center>
    <table class="table" style="width: 75%;"  border=" 1px solid" align="center" border-collapse="collapse"
           width="100%" id="myT">
        <thead>
        <tr>
            {#   <th>IdEv</th>  #}
            <th>Titre</th>
            <th>Type</th>
            <th>Emplacement</th>
            <th>Date Debut</th>
            <th>Date Finale</th>
            <th>Temps Debut</th>
            <th>Temps Finale</th>
            <th>Age Min</th>
            <th>Age Max</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                {#  <td>{{ evenement.idEv }}</td> #}
                <td>{{ evenement.titreEv }}</td>
                <td>{{ evenement.typeEv }}</td>
                <td>{{ evenement.emplacementEv }}</td>
                <td>{{ evenement.dateDev ? evenement.dateDev|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.dateFev ? evenement.dateFev|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.tempsDev ? evenement.tempsDev|date('H:i:s') : '' }}</td>
                <td>{{ evenement.tempsFev ? evenement.tempsFev|date('H:i:s') : '' }}</td>
                <td>{{ evenement.ageMin }}</td>
                <td>{{ evenement.ageMax }}</td>
                <td> <a href="{{ path('evenement_showAA', {'idEv': evenement.idEv}) }}"<i class="fa fa-star"></i>Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        <script>
            function sortTable() {
                var table, rows, switching, i, x, y, shouldSwitch,dir;
                table = document.getElementById("myT");
                switching = true;
                // Set the sorting direction to ascending:


                while (switching) {

                    switching = false;
                    rows = table.rows;

                    for (i = 1; i < (rows.length - 1); i++) {

                        shouldSwitch = false;

                        x = rows[i].getElementsByTagName("TD")[3];
                        y = rows[i + 1].getElementsByTagName("TD")[3];



                        if (y.innerHTML.toLowerCase() > x.innerHTML.toLowerCase()) {

                            shouldSwitch = true;
                            break;
                        } }

                    if (shouldSwitch) {

                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }


                }
            }
        </script>
        <a class="btn btn-success" href="{{path('imprimer') }}"> <i class="fa fa-download"></i> Imprimer </a>
        <a class="btn btn-outline-success"  href="{{path('Statistique') }}"> <i class="fa fa-adjust"></i> Statistic </a>
        </tbody>
    </table>
{% endblock %}

