{% extends 'baseNewFront.html.twig' %}
{% block car %}
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item-art">
                <div class="carousel-img">
                    <img src="{{ asset("img/blog-for-business.jpg")}}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Affichage <span> Article </span> </h1>
                </div>
            </div>

        </div>

        {% endblock %}
{% block blog %}
    <a class="btn btn-success"  href="{{path('imprimer', {'idArt': article.idArt}) }}"> <i class="fa fa-download"></i> Imprimer </a>
    <table class="table">
        <tbody >
        {#   <tr>
                <th>IdArt</th>
                <td>{{ article.idArt }}</td>
            </tr>
            <tr>#}
                <th>Titre Article</th>
                <td width="85%"  >{{ article.titreArt }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ article.auteurArt }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.descriptionArt }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ article.dateArt ? article.dateArt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ article.likes }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td ><img style="margin-bottom: -18px" src="{{ asset('uploads/' ~  article.photo) }}" width="200" height="100"></td>

            </tr>

            <tr>
                <th>Catégorie</th>
                <td>{{ article.idCat }}</td>
            </tr>
        </tbody>
    </table>
<center>
    <a href="{{ path('articles_index') }}" class="btn btn-outline-info fas fa-backward">Back to list</a>

    <a href="{{ path('articles_edit', {'idArt': article.idArt}) }}" class="btn btn-outline-warning fas fa-edit">Edit</a>
</center>
    <br>

    {{ include('Frontend/articles/_delete_form.html.twig') }}


{% endblock %}
