{% extends 'backend2/page.html.twig' %}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spirity | Categories</title>
{% endblock %}

{% block param %}

    <div class="box box-info">
    <div class="box-header">
        <table class="table">
            <thead>
            <tr>
                <!-- <th>Id_ph</th>
                 <th>Id_pub</th>-->
                <th>Lien</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>

            {% for photo_publication in photo_publications %}
                <tr>
                    <!--<td>{{ photo_publication.idPh }}</td>
                <td>{{ photo_publication.idPub }}</td>-->
                    <td>{{ photo_publication.lien }}</td>

                    <td>
                        <a href="{{ path('photo_publication_show', {'id_ph': photo_publication.id_ph}) }}">Afficher</a>

                        <a href="{{ path('photo_publication_edit', {'id_ph': photo_publication.id_ph}) }}">Modifier</a>
                        <a href="{{ path('photo_publication_add',{'id_pub':photo_publication.idPub}) }}">Creer</a>


                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="4">no records found</td>

                </tr>

            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('photo_publication_add',{'id_pub':id_pub}) }}">Ajouter une Photo</a>
    </div>
    </div>
{% endblock %}