<a  href="{{ path('acceuil') }}" class="navbar-brand">SPIRITY<span></a>
<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav ml-auto">
        <a  href="{{ path('acceuil') }}" class="nav-item nav-link active">Acceuil</a>
        <a  href="{{ path('event') }}" class="nav-item nav-link">Evenements</a>
        <a  href="{{ path('client') }}" class="nav-item nav-link">Clients</a>
        <a  href="{{ path('publication') }}" class="nav-item nav-link">Publication</a>
        <a href="{{ path('discussion') }}" class="nav-item nav-link">Messagerie</a>
        <a href="{{ path('article') }}" class="nav-item nav-link">Articles</a>
        <a  href="{{ path('reclamation') }}" class="nav-item nav-link">Réclamation</a>
        <a  href="{{ path('acceuil') }}" class="nav-item nav-link">S'inscrire</a>
        <a  href="{{ path('acceuil') }}" class="nav-item nav-link">Connecter</a>
    </div>
</div>