{% extends 'backend2/page.html.twig' %}
{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spirity | Categories</title>
{% endblock %}

{% block param %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
    <div>
        <div class="pt-editor">
            <div class="form-group col-md-12">
                <div class="box-header">

                   <center> <h3 class="box-title" style="font-size: 40px;color:#1d5987;">Ajouter Catégories</h3></center>
                </div>
                <label for="inputContenu" class="tt-note pt-4">Catégorie : </label>
                {{ form_errors(form.titreCat) }}
                {{ form_widget(form.titreCat, { 'attr' : { 'class' : 'form-control', "rows":"5" } }) }}
            </div>
        </div>


        <button class="btn btn-info">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}


        <a class="btn btn-danger" href="{{ path('categorie_indexx') }}">Back to list</a>

    </div>
{% endblock %}