{% extends 'baseAdmin.html.twig' %}

{% block title %}Psycho{% endblock %}

{% block body %}
    <h1>Psycho</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ Psycho.username }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ Psycho.mail }}</td>
            </tr>
            <tr>
                <th>Date_n</th>
                <td>{{ Psycho.dateN ? Psycho.dateN|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn" onclick="location.href='{{ path('Psycho_index') }}'">  <i class="fa fa-reply"></i> </button>
<div class="col-offset-5">
    <button class="btn" onclick="location.href='{{ path('Psycho_edit', {'id': Psycho.id}) }}'" > <i class="fa fa-edit"> </i></button>

    {{ include('psy/_delete_form.html.twig') }}
{% endblock %}