{% extends 'base.html.twig' %}

{% block title %}Simple index{% endblock %}

{% block body %}
    <h1>Simple index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdUser</th>
                <th>Username</th>
                <th>Password</th>
                <th>Mail</th>
                <th>DateN</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for simple in simples %}
            <tr>
                <td>{{ simple.idUser }}</td>
                <td>{{ simple.username }}</td>
                <td>{{ simple.password }}</td>
                <td>{{ simple.mail }}</td>
                <td>{{ simple.dateN ? simple.dateN|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('simple_show', {'idUser': simple.idUser}) }}">show</a>
                    <a href="{{ path('simple_edit', {'idUser': simple.idUser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('simple_new') }}">Create new</a>
{% endblock %}
