{% extends 'baseAdmin.html.twig' %}



{% block body %}


<inpute type="text" id="search" class="form-control" placeholder="Search">



    <p ><button class="btn btn-rounded btn-primary mb-3" onclick="sortTable()" > Sort by Date</button></p>
    <form id="recherche" method="get" type="submit">
        <div style="text-align: center;">
            <input style="border-radius: 75px" name="users"  class="form-control form-control-lg" placeholder="Chercher...">
        </div>
    </form>
    <table class="table text-center" id="myT">



        <thead class="text-uppercase bg-primary">


        <tr class="text-white">
                <th>Username</th>
                <th>Mail</th>
                <th>Date of birth</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for simple in simples %}
            <tr>
                <td>{{ simple.username }}</td>
                <td>{{ simple.mail }}</td>
                <td>{{ simple.dateN ? simple.dateN|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('simple_show', {'id_user': simple.idUser}) }}">Details</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        <script>
            function sortTable() {
                var table, rows, switching, i, x, y, shouldSwitch,dir;
                table = document.getElementById("myT");
                switching = true;
                // Set the sorting direction to ascending:


                while (switching) {

                    switching = false;
                    rows = table.rows;

                    for (i = 1; i < (rows.length - 1); i++) {

                        shouldSwitch = false;

                        x = rows[i].getElementsByTagName("TD")[2];
                        y = rows[i + 1].getElementsByTagName("TD")[2];



                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {

                            shouldSwitch = true;
                            break;
                        } }

                    if (shouldSwitch) {

                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }


                }
            }
        </script>

        <script>
            $(".recherche").on("submit", function(event) {
                // prevent page reload
                event.preventDefault();

                $.ajax({
                    url: '{{ path('simple_index') }}',
                    type: 'POST',
                    success: function() {
                        // perform dom update to show search results
                    }
                });
            });
        </script>
        </tbody>
    </table>
    <script type="text/javascript">
        function imprimer_page(){
            window.print();
        }
    </script>
    <div role="toolbar" aria-label="Programmatic control">
        <div class="btn-group btn-group-sm" aria-label="Set Select2 option">
            <form>
                <input id="impression" class="btn btn-outline-primary mb-3" name="impression" type="button" onclick="imprimer_page()" value="Print this page" />
            </form>
{% endblock %}