{% extends 'backend2/page.html.twig' %}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spirity | Categories</title>
{% endblock %}

{% block param %}

    <div class="box box-info" style="align-items: center; padding-left: 400px ">
        <div class="box-header">
            <table class="table">
                <tbody>
                <tr>
                    <th>User</th>
                    <td>{{ commentaire.getUsername() }}</td>
                </tr>
                <tr>
                    <th>Publication</th>
                    <td>{{ commentaire.idPub }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td>{{ commentaire.contenu }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ commentaire.date ? commentaire.date|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>

            <!--<a href="{{ path('commentaire_edit', {'id': commentaire.id, 'id_pub': id_pub}) }}">Edit</a><br>-->
            <a href="{{ path('commentaire_indexx',{'id_pub':id_pub}) }}">Back</a>

        </div>
    </div>
{% endblock %}