<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Spirity</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->

    <link href="{{asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css')}}" rel="stylesheet">
    <link href="{{asset('/front/lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('/front/lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{asset('/front/lib/flaticon/font/flaticon.css')}}" rel="stylesheet">
    <link href="{{asset('/front/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css')}}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    {% block style %}
        <link href="{{asset('/front/css/style.css')}}" rel="stylesheet">
    {% endblock %}
</head>
{% block header %}
<body>
<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <img src="..\front\img\logo.png"></img>
        <a href={{ path('simplefront_index') }} class="navbar-brand"> <span>Spirity</span></a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">


                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Profiles</a>
                    <div class="dropdown-menu">
                        <a href={{ path('Psychofront_index') }} class="dropdown-item">Psychochologist</a>
                        <a href={{ path('coachfront_index') }} class="dropdown-item">Coach</a>
                        <a href={{ path('nutrifront_index') }} class="dropdown-item">Nutritionist</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Create new account</a>
                    <div class="dropdown-menu">
                        <a href={{ path('simplefront_new') }} class="dropdown-item"> Simple</a>
                        <a href={{ path('Psychofront_new') }} class="dropdown-item"> Psychochologist</a>
                        <a href={{ path('coachfront_new') }} class="dropdown-item"> Coach</a>
                        <a href={{ path('nutrifront_new') }} class="dropdown-item"> Nutritionist</a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Login as</a>
                    <div class="dropdown-menu">
                        <a href={{ path('simplefront_index') }} class="dropdown-item">Simple</a>
                        <a href={{ path('Psychofront_index') }} class="dropdown-item">Psychochologist</a>
                        <a href={{ path('coachfront_index') }} class="dropdown-item">Coach</a>
                        <a href={{ path('nutrifront_index') }} class="dropdown-item">Nutritionist</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->


<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Users</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Users</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="team">
<div class="container">
    <div class="section-header text-center">
       <h2>Users</h2>
    </div>
    {% endblock %}
    {% block param %}
    {% endblock %}
{% block js %}
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <!-- JavaScript Libraries -->
        <script src="{{asset('https://code.jquery.com/jquery-3.4.1.min.js')}}"></script>
        <script src="{{asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('front/lib/easing/easing.min.js')}}"></script>
        <script src="{{asset('front/lib/owlcarousel/owl.carousel.min.js')}}"></script>
        <script src="{{asset('front/lib/tempusdominus/js/moment.min.js')}}"></script>
        <script src="{{asset('front/lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
        <script src="{{asset('front/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>

        <!-- Contact Javascript File -->
        <script src="{{asset('front/mail/jqBootstrapValidation.min.js')}}"></script>
        <script src="{{asset('front/mail/class="nav-link dropdown-toggle".js')}}"></script>

        <!-- Template Javascript -->
        <script src="{{asset('front/js/main.js')}}"></script>
        {% endblock %}

</html>

