


{{ form_start(form,{'attr':{'novalidate':'novalidate','class':'booking-form'}}) }}
<div class="col-lg-5">
    <div class="booking-form">

{{ form_widget(form.username,{ 'attr':{'class':'form-control','placeholder':'* Username'}}) }}
{{ form_errors(form.username) }}

        <p> <div class="help-block text-danger"></div></p>

    {{ form_widget(form.password,{ 'attr':{'class':'form-control','placeholder':'* Password'}}) }}
{{ form_errors(form.password) }}

        <p> <div class="help-block text-danger"></div></p>

 {{ form_widget(form.mail,{ 'attr':{'class':'form-control','placeholder':'* Mail'}}) }}
{{ form_errors(form.mail) }}

        <p> <div class="help-block text-danger"></div></p>

        {{ form_widget(form.code,{ 'attr':{'class':'form-control','placeholder':'* Code'}}) }}
        {{ form_errors(form.code) }}

        <p> <div class="help-block text-danger"></div></p>

        {{ form_widget(form.date_n,{ 'label':'','attr':{'placeholder':'*  Date of birth'}}) }}
        {{ form_errors(form.date_n) }}




{{ form_rest(form) }}
<div class="col-md-offset-5" > <button class="btn custom-btn">{{ button_label|default('Save') }}</button> </div>
    </div>

</div>
{{ form_end(form) }}

