{% extends 'Back.html.twig' %}

{% block title %}Act index{% endblock %}

{% block section %}
    <h1>Act index</h1>

    <table class="table">
        <thead>
        <tr>
            {#  <th>IdAct</th> #}
            <th>NomAct</th>
            <th>TypeAct</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for act in acts %}
            <tr>
                <td>{{ act.idAct }}</td>
                <td>{{ act.nomAct }}</td>
                <td>{{ act.typeAct }}</td>
                <td>
                    <a href="{{ path('act_showAAc', {'idAct': act.idAct}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}

        <a class="btn btn-success"  href="{{path('Stat') }}"> <i class="fa fa-download"></i> Statistic </a>
        </tbody>
    </table>

{% endblock section %}
