{% extends 'base.html.twig' %}

{% block title %}Coach{% endblock %}

{% block body %}
    <h1>Coach</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdUser</th>
                <td>{{ coach.idUser }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ coach.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ coach.password }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ coach.mail }}</td>
            </tr>
            <tr>
                <th>DateN</th>
                <td>{{ coach.dateN ? coach.dateN|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ coach.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coach_index') }}">back to list</a>

    <a href="{{ path('coach_edit', {'idUser': coach.idUser}) }}">edit</a>

    {{ include('coach/_delete_form.html.twig') }}
{% endblock %}
