{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}


{{ form_widget(form.username,{ 'attr':{'class':'form-control col-md-4','placeholder':'Username *'}}) }}
{{ form_errors(form.username) }}

    {{ form_widget(form.password,{ 'attr':{'class':'form-control col-md-4','placeholder':'Password *'}}) }}
{{ form_errors(form.password) }}

 {{ form_widget(form.mail,{ 'attr':{'class':'form-control col-md-4','placeholder':'Mail *'}}) }}
{{ form_errors(form.mail) }}

<div class="col-offset-5">
    {{ form_widget(form.date_n,{ 'label':'','attr':{'class':'form-control col-md-4','placeholder':'Date of birth *'}}) }}
    {{ form_errors(form.date_n) }}

</div>
{{ form_rest(form) }}
<div class="col-md-offset-5" > <button class="btn btn-primary mt30 btn-black ">{{ button_label|default('Save') }}</button> </div>

{{ form_end(form) }}