<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>srtdash - SEO Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{asset("backend/general/assets/images/icon/favicon.ico")}}">
    <link rel="stylesheet" href="{{asset("backend/general/assets/css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{asset("backend/general/assets/css/font-awesome.min.css")}}">
    <link rel="stylesheet" href="{{asset("backend/general/assets/css/themify-icons.css")}}">
    <link rel="stylesheet" href="{{asset("backend/general/assets/css/metisMenu.css")}}">
    <link rel="stylesheet" href="{{asset("backend/general/assets/css/owl.carousel.min.css")}}">
    <link rel="stylesheet" href="{{asset("backend/general/assets/css/slicknav.min.css")}}">
    <!-- amchart css -->
    <link rel="stylesheet" href="{{asset("https://www.amcharts.com/lib/3/plugins/export/export.css")}}" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{asset("backend/general/assets/css/typography.css")}}">
    <link rel="stylesheet" href="{{asset("backend/general/assets/css/default-css.css")}}">
    <link rel="stylesheet" href="{{asset("backend/general/assets/css/styles.css")}}">
    <link rel="stylesheet" href="{{asset("backend/chedli/acceuil.css")}}">
    <link rel="stylesheet" href="{{asset("backend/general/assets/css/responsive.css")}}">
    <!-- modernizr css -->
    <script src="{{asset("backend/general/assets/js/vendor/modernizr-2.8.3.min.js")}}"></script>
</head>

<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="{{asset("http://browsehappy.com/")}}">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="{{asset("index.html")}}"><img src="{{asset("backend/general/assets/images/icon/logo.png")}}" alt="logo"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li class="active">
                            <a href="{{asset("invoice.html")}}" aria-expanded="false"><i class="ti-receipt"></i><span>Acceuil</span></a>
                        </li>
                        <li>
                            <a href="{{asset("javascript:void(0)")}}" aria-expanded="true"><i class="fa fa-align-left"></i><span>Suivi</span></a>
                            <ul class="collapse">
                                <li><a href="{{path("suivi_index")}}">Suivi client</a></li>
                                <li><a href="{{path("backtaches")}}">Taches</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{asset("javascript:void(0)")}}" aria-expanded="true"><i class="ti-pie-chart"></i><span>Utilisateurs</span></a>
                            <ul class="collapse">
                                <li><a href="">quelque chose</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="{{asset("javascript:void(0)")}}" aria-expanded="true"><i class="ti-slice"></i><span>Articles</span></a>
                            <ul class="collapse">
                                <li><a href="">quelque chose</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{asset("javascript:void(0)")}}" aria-expanded="true"><i class="fa fa-table"></i>
                                <span>Evenements</span></a>
                            <ul class="collapse">
                                <li><a href="">quelque chose</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{asset("javascript:void(0)")}}" aria-expanded="true"><i class="ti-layers-alt"></i> <span>Publication</span></a>
                            <ul class="collapse">
                                <li><a href="">quelque chose</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{asset("javascript:void(0)")}}" aria-expanded="true"><i class="fa fa-exclamation-triangle"></i>
                                <span>Reclamation</span></a>
                            <ul class="collapse">
                                <li><a href="">quelque chose</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                </div>
                <!-- profile info & task notification -->
                <div class="col-md-6 col-sm-4 clearfix">
                    <ul class="notification-area pull-right">
                        <li id="full-view"><i class="ti-fullscreen"></i></li>
                        <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        <li class="dropdown">
                            <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                <span>0</span>
                            </i>
                            <div class="dropdown-menu bell-notify-box notify-box">
                                <span class="notify-title">Vous avez 0 notifications <a href="{{asset("#")}}">voir tous</a></span>
                                <div class="nofity-list">
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                        <div class="notify-text">
                                            <p>You have Changed Your Password</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                        <div class="notify-text">
                                            <p>New Commetns On Post</p>
                                            <span>30 Seconds ago</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                        <div class="notify-text">
                                            <p>Some special like you</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                        <div class="notify-text">
                                            <p>New Commetns On Post</p>
                                            <span>30 Seconds ago</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                        <div class="notify-text">
                                            <p>Some special like you</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                        <div class="notify-text">
                                            <p>You have Changed Your Password</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                        <div class="notify-text">
                                            <p>You have Changed Your Password</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>0</span></i>
                            <div class="dropdown-menu notify-box nt-enveloper-box">
                                <span class="notify-title">Vous avez 0 notifications<a href="{{asset("#")}}">voir tous</a></span>
                                <div class="nofity-list">
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="{{asset("backend/general/assets/images/author/author-img1.jpg")}}" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="{{asset("backend/general/assets/images/author/author-img2.jpg")}}" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">When you can connect with me...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="{{asset("backend/general/assets/images/author/author-img3.jpg")}}" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">I missed you so much...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="{{asset("backend/general/assets/images/author/author-img4.jpg")}}" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Your product is completely Ready...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="{{asset("backend/general/assets/images/author/author-img2.jpg")}}" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="{{asset("backend/general/assets/images/author/author-img1.jpg")}}" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="{{asset("#")}}" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="{{asset("backend/general/assets/images/author/author-img3.jpg")}}" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">Interface</h4>
                        <ul class="breadcrumbs pull-left">
                            <li><a href="{{asset("index.html")}}">Suivi</a></li>
                            <li>Suivi Client</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        <img class="avatar user-thumb" src="{{asset("backend/general/assets/images/author/avatar.png")}}" alt="avatar">
                        <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Nom utilisateur<i class="fa fa-angle-down"></i></h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{asset("#")}}">Message</a>
                            <a class="dropdown-item" href="{{asset("#")}}">Paramétres</a>
                            <a class="dropdown-item" href="{{asset("#")}}">Déconnexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dynamicbull">
            {% block param %}
                <table class="table" style="margin-top: 40px">
                    <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Client</th>
                        <th>Titre</th>
                        <th>Date Debut</th>
                        <th>Date Fin</th>
                        <th>Temps Debut</th>
                        <th>Temps Fin</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for suivi in suivis %}
                        <tr>
                            <td>{{ suivi.idS }}</td>
                            <td>{{ suivi.client }}</td>
                            <td>{{ suivi.titreS }}</td>
                            <td>{{ suivi.dateDs ? suivi.dateDs|date('Y-m-d') : '' }}</td>
                            <td>{{ suivi.dateFs ? suivi.dateFs|date('Y-m-d') : '' }}</td>
                            <td>{{ suivi.tempsDs ? suivi.tempsDs|date('H:i:s') : '' }}</td>
                            <td>{{ suivi.tempsFs ? suivi.tempsFs|date('H:i:s') : '' }}</td>
                            <td>
                                <a class="bozilla" href="{{ path('suivi_show', {'idS': suivi.idS}) }}" type="1">Afficher</a>
                                <a class="bozilla" href="{{ path('suivi_edit', {'idS': suivi.idS}) }}" type="2">Modifier</a>
                                <a class="bozilla" href="{{ path('suivi_delete', {'idS': suivi.idS}) }}" type="3">Supprimer</a>
                                {#                    <a href="{{ path('suivi_supp', {'idS': suivi.idS}) }}">Supprimer</a>#}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a id="ajouterlabel" class="bozilla" href="{{ path('suivi_new') }}" style="display: table;margin: 0 auto;margin-top: 30px">Ajouter un nouveau client</a>
                {#    <script>#}
                {#        $(".bozilla").click(function(e){#}
                {#            e.preventDefault();#}
                {#            let link = e.target.href;#}
                {#            $("#dynamicbull").load(link);#}
                {#        });#}

                {#    </script>#}
            {% endblock %}

        </div>
        <!-- page title area end -->
    </div>
</div>
<!-- offset area end -->
<!-- jquery latest version -->
<script src="{{asset("backend/general/assets/js/vendor/jquery-2.2.4.min.js")}}"></script>
<!-- bootstrap 4 js -->
<script src="{{asset("backend/general/assets/js/popper.min.js")}}"></script>
<script src="{{asset("backend/general/assets/js/bootstrap.min.js")}}"></script>
<script src="{{asset("backend/general/assets/js/owl.carousel.min.js")}}"></script>
<script src="{{asset("backend/general/assets/js/metisMenu.min.js")}}"></script>
<script src="{{asset("backend/general/assets/js/jquery.slimscroll.min.js")}}"></script>
<script src="{{asset("backend/general/assets/js/jquery.slicknav.min.js")}}"></script>

<!-- start chart js -->
<script src="{{asset("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")}}"></script>
<!-- start highcharts js -->
<script src="{{asset("https://code.highcharts.com/highcharts.js")}}"></script>
<script src="{{asset("https://code.highcharts.com/modules/exporting.js")}}"></script>
<script src="{{asset("https://code.highcharts.com/modules/export-data.js")}}"></script>
<!-- start amcharts -->
<script src="{{asset("https://www.amcharts.com/lib/3/amcharts.js")}}"></script>
<script src="{{asset("https://www.amcharts.com/lib/3/ammap.js")}}"></script>
<script src="{{asset("https://www.amcharts.com/lib/3/maps/js/worldLow.js")}}"></script>
<script src="{{asset("https://www.amcharts.com/lib/3/serial.js")}}"></script>
<script src="{{asset("https://www.amcharts.com/lib/3/plugins/export/export.min.js")}}"></script>
<script src="{{asset("https://www.amcharts.com/lib/3/themes/light.js")}}"></script>
<!-- all line chart activation -->
<script src="{{asset("backend/general/assets/js/line-chart.js")}}"></script>
<!-- all pie chart -->
<script src="{{asset("backend/general/assets/js/pie-chart.js")}}"></script>
<!-- all bar chart -->
<script src="{{asset("backend/general/assets/js/bar-chart.js")}}"></script>
<!-- all map chart -->
<script src="{{asset("backend/general/assets/js/maps.js")}}"></script>
<!-- others plugins -->
<script src="{{asset("backend/general/assets/js/plugins.js")}}"></script>
<script src="{{asset("backend/general/assets/js/scripts.js")}}"></script>
{#    <script>#}
{#        $(".bozilla").click(function(e){#}
{#            e.preventDefault();#}
{#            let link = e.target.href;#}
{#            $("#dynamicbull").load(link);#}
{#        });#}

{#    </script>#}
</body>

</html>
