{% extends 'backend2/page.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("backend/chedli/acceuil.css")}}">
{% endblock %}
{% block param %}
<div id="dynamicbull">
    <table class="table">
        <tbody>
        <tr>
            <th>Identifiant</th>
            <td>{{ suivi.idS }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ suivi.titreS }}</td>
        </tr>
        <tr>
            <th>Date Debut</th>
            <td>{{ suivi.dateDs ? suivi.dateDs|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Date Fin</th>
            <td>{{ suivi.dateFs ? suivi.dateFs|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Temps Debut</th>
            <td>{{ suivi.tempsDs ? suivi.tempsDs|date('H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Temps Fin</th>
            <td>{{ suivi.tempsFs ? suivi.tempsFs|date('H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('suivi_index') }}">Revenir</a>
    {#    <script>#}
    {#        $("a").click(function(e){#}
    {#            e.preventDefault();#}
    {#            let link = e.target.href;#}
    {#            $("#dynamicbull").load(link);#}
    {#        });#}

    {#    </script>#}
</div>
{% endblock %}
