       {% block param %}
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Identifiant</th>
                        <td>{{ suivi.idS }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ suivi.titreS }}</td>
                    </tr>
                    <tr>
                        <th>Date Debut</th>
                        <td>{{ suivi.dateDs ? suivi.dateDs|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Date Fin</th>
                        <td>{{ suivi.dateFs ? suivi.dateFs|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Temps Debut</th>
                        <td>{{ suivi.tempsDs ? suivi.tempsDs|date('H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Temps Fin</th>
                        <td>{{ suivi.tempsFs ? suivi.tempsFs|date('H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
{#           {{ path('suivi_index', {'id': suivi.idS}) }}#}

                <a id="retour" href="{{ path('suivi_index', {'id': 2}) }}">Revenir</a>
                {#    <script>#}
                {#        $("a").click(function(e){#}
                {#            e.preventDefault();#}
                {#            let link = e.target.href;#}
                {#            $("#dynamicbull").load(link);#}
                {#        });#}

                {#    </script>#}
            {% endblock %}
       {% block javascripts %}
       <script>
           $("#retour").click(function(e){
               e.preventDefault();
               // 'suivis' => $suivis,
                   axios.get("https://127.0.0.1:8000/suivi/index/1").then(response => {
                       $("#dynamicbull").load("https://127.0.0.1:8000/suivi/index/2",function(){
                            suivis : response.data.message
                       });
                       console.log("value is "+response.data.message);
                   })
               // $("#dynamicbull").load(link);
           });
       </script>
       {% endblock %}

