{% extends 'base.html.twig' %}

{% block title %}Psycho index{% endblock %}

{% block body %}
    <h1>Psycho index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdUser</th>
                <th>Username</th>
                <th>Password</th>
                <th>Mail</th>
                <th>DateN</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for psycho in psychos %}
            <tr>
                <td>{{ psycho.idUser }}</td>
                <td>{{ psycho.username }}</td>
                <td>{{ psycho.password }}</td>
                <td>{{ psycho.mail }}</td>
                <td>{{ psycho.dateN ? psycho.dateN|date('Y-m-d') : '' }}</td>
                <td>{{ psycho.code }}</td>
                <td>
                    <a href="{{ path('psycho_show', {'idUser': psycho.idUser}) }}">show</a>
                    <a href="{{ path('psycho_edit', {'idUser': psycho.idUser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('psycho_new') }}">Create new</a>
{% endblock %}
